<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ page_title }}</title>
    <link rel="stylesheet" href="{{ static_url("css/style.css") }}" />
</head>
<body>
    <div id="container">
        <header>
            {% block header %}
                <h1>Burt's Books</h1>
            {% end %}
        </header>

        <div id="main">
            <div id="content">
                {% block body %}
                {% end %}
            </div>
        </div>

        <footer>
            {% block footer %}
            <p>For more information about our selection, hours or events, please email us at
                <a href="mailto:contact@burtsbooks.com">contact@burtsbooks.com</a>.</p>
            {% end %}
        </footer>
    </div>
</body>
</html>